{% extends 'base.html.twig' %}

{% block title %}Club des critiques | Historique du salon{% endblock %}
{% block body %}
    <div class="wrapper container-fluid" id="salon">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="concept">
                    <h2>Salon : {{ lobby.content.title }} - {% for key,author in lobby.content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %} - {{ lobby.date_start|date('d/m/Y H') }}h{{ lobby.date_start|date('i') }}/{{ lobby.date_start|date('d/m/Y H') }}h{{ lobby.date_end|date('i') }}</h2>
                </div>
            </div>
        </div>
        {% for room_id, room in rooms %}
            <div class="row">
            <div class="col-md-6 col-md-offset-1 bloc-chat" id="block-chat">
                <section id="chat">
                        {% if is_granted('ROLE_ADMIN') %}
                            <h3>Salon n° {{ room_id+1 }}</h3>
                        {% endif %}
                        {% for message in room.messages %}
                            <p><strong>{{ message.username }}</strong>: {{ message.message }}</p>
                        {% endfor %}
                </section>
            </div>

            <div class="col-md-4 liste-membres">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Liste des participants</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% if room.participants is defined %}
                    <tbody id="list-users">
                        {%  for participant in room.participants %}
                            <tr>
                                <td scope="row">{{ participant.user.firstName ? participant.user.firstName|capitalize : 'John' }} {{ participant.user.lastName ? participant.user.lastName|upper : 'DOE' }} - ({% if participant.user.id != user.id %}{{ participant.user.username }}{% else %}moi{% endif %})</td>
                                <td>
                                    <div class="liste-salon-item">
                                        <span>
                                            {% if participant.user.id != user.id %}
                                                <a target="_blank" href="{{ path('user', {'id': participant.user.id}) }}">Profil</a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% else %}
                        <p>Aucun participant enregistré</p>
                    {% endif %}
                </table>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}