{% extends 'base.html.twig' %}

{% block title %}Club des critiques | Liste des salons{% endblock %}
{% block body %}

    <div class="container-fluid wrapper" id="liste-salons">

        <h2>SALONS</h2>
        {% if controller == 'lobby_list' %}
            <a href="{{ path('lobby_list_history') }}">Voir l'historique des salons</a>
        {% else %}
            <a href="{{ path('lobby_list') }}">Voir les prochains salons</a>
        {% endif %}
        <div id="lobbies">
            {{ include('lobby/lobby-list.html.twig', { 'lobby_list': lobby_list }) }}
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/contenus.js') }}"></script>
    <script src="{{ asset('js/lobby.js') }}"></script>
{% endblock %}
