{% extends 'base.html.twig' %}

{% block title %}Club des critiques | Salon{% endblock %}
{% block javascripts %} <script type="text/javascript" src="{{ asset('js/lobby.js') }}"> </script>
    <style>
        #chat strong {
            color: blue;
        }
    </style>
{% endblock %}
{% block body %}


    <div class="wrapper container-fluid" id="salon">
        <div id="contact-list">
            <ul>
                {% for contact in user.contacts %}
                    <li>{{ contact.firstName }} {{ contact.lastName|first|upper }}. <a href="javascript:void(0)" data-lobby-id="{{ lobby.id }}" data-contact-id="{{ contact.id }}" data-room-id="{{ user_room }}" onclick="inviteUser(this)">Inviter</a></li>
                {% endfor %}
            </ul>

        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="concept">
                    <h2>Salon : {{ lobby.content.title }} - {% for key,author in lobby.content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-1 bloc-chat" id="block-chat">
                <section id="chat">

                </section>
                <form action="/" method="post" id="form-chat">
                    <input type="hidden" name="user_id" id="user_id" value="{{ user.id }}" />
                    <input type="hidden" name="username" id="username" value="{{ user.username }}" />
                    <input type="hidden" name="firstName" id="firstName" value="{{ user.firstName }}" />
                    <input type="hidden" name="lastName" id="lastName" value="{{ user.lastName }}" />
                    <input type="hidden" name="lobby" id="lobby" value="{{ lobby.id }}" />
                    <input type="hidden" name="room" id="room" value="{{ user_room }}" />
                    <input type="hidden" name="lobby_date_start" id="lobby_date_start" value="{{ lobby.date_start|date('Y-m-d H:i') }}" />
                    <input type="hidden" name="lobby_date_end" id="lobby_date_end" value="{{ lobby.getDateEnd|date('Y-m-d H:i') }}" />
                    <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
                    <input type="submit" id="send" value="Envoyer" />
                </form>
            </div>

            <div class="col-md-4 liste-membres">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Liste des membres dans le salon</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="list-users">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

{% endblock %}