<div class="filters">
    <div class="row">
        <div class="form-group center">

            <select id="category" class="form-control inline" onchange="onFilterChange(this);">
                <option value="0">Catégorie</option>
                {% for subcategory in subcategories %}
                    <option value="{{ subcategory.id }}" {% if selected_sub_category_id == subcategory.id %}selected{% endif %}>{{ subcategory }}</option>
                {% endfor %}
            </select>

            <select id="author" class="form-control inline" onchange="onFilterChange(this);">
                <option value="0">Auteur</option>
                {% for author in authors %}
                    <option value="{{ author.id }}" {% if selected_author_id == author.id %}selected{% endif %}>{{ author.name }}</option>
                {% endfor %}
            </select>
            <label for="title">Titre</label>
            <input type="text" name="title" id="title" value="{% if title is defined %}{{ title }}{% endif %}" onkeyup="onFilterChange(this)">
            <input type="hidden" name="history" id="history" value="{% if controller == 'lobby_list_history' %}1{% else %}0{% endif %}" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    {#<th>Nombre moyen de participants par salon</th>#}
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                {% if lobby_list|length > 0 %}
                    {% for lobby in lobby_list %}
                        {% set note = 'false' %}
                        {% set participation = 'false' %}
                        {% for user_note in user_notes %}
                            {% if user_note.content == lobby.content %}
                                {% set note = 'true' %}
                            {% endif %}
                        {% endfor %}
                        {% for user_participation in user_participations %}
                            {% if user_participation.lobby.id == lobby.id %}
                                {% set participation = 'true' %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td scope="row"><a href="{{ path('contenu', {'id': lobby.content.id}) }}">{{ lobby.content.title }}</a> - {{ lobby.content.author.name }}</td>
                            <td>{{ lobby.date_start|date('d/m/Y H') }}h{{ lobby.date_start|date('i') }}</td>
                            <td>
                                <div class="liste-salon-item {% if controller is defined and controller == 'salons' %}active{% endif %}">
                                    {% if controller == 'lobby_list' %}
                                        <span>
                                            {% if lobby.date_start|date('Y-m-d H:i') > "now"|date('Y-m-d H:i') and note == 'false' %}
                                                <a href="{{ path('contenu', {'id': lobby.content.id, 'frmlby': 1, 'lby': lobby.id}) }}">Noter l'oeuvre</a>
                                            {% elseif lobby.date_start|date('Y-m-d H:i') > "now"|date('Y-m-d H:i') and note == 'true' %}
                                                <a href="{{ path('lobby_register', {'id': lobby.id}) }}">S'inscrire</a>
                                            {% elseif "now"|date('Y-m-d H:i') <= lobby.date_start|date_modify("+10 minutes")|date('Y-m-d H:i') and "now"|date('Y-m-d H:i') >= lobby.date_start|date('Y-m-d H:i') and participation == 'true' %}
                                                <a href="{{ path('lobby', {'id': lobby.id}) }}">Rejoindre</a>
                                            {% else %}
                                                <span>Inscription closes</span>
                                            {% endif %}
                                        </span>
                                    {% else %}
                                        <span>
                                            <a href="{{ path('lobby_history', {'id': lobby.id}) }}">Voir le salon</a>
                                        </span>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="3" style="text-align:center;"><span>Aucun salon à afficher</span></td>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

</div>