<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row main-nav">
                    <div class="logo col-md-2">
                        <img src="{{ asset('img/logo.png') }}" />
                    </div>

                    <div class="menu col-md-8">
                        <div class="menu-item first {% if controller == 'accueil' %}active{% endif %}">
                            <span>
                                <a href="{{ path('homepage') }}">Accueil</a>
                            </span>
                        </div>
                        <div class="menu-item {% if controller == 'contenus' %}active{% endif %}">
                            <span>
                                <a href="{{ path('contenus') }}">Contenus</a>
                            </span>
                        </div>
                        <div class="menu-item {% if controller == 'salons' %}active{% endif %}">
                            <span>
                                <a class="" href="#">Salons</a>
                            </span>
                        </div>
                    </div>

                    <div class="user-actions col-md-2">
                        <span class="user-actions-item glyphicon glyphicon-user">
                            <a href="#">
                                Mon compte
                            </a>
                        </span>
                                <span class="user-actions-item glyphicon glyphicon-cog">
                            <a href="#">
                                Administration
                            </a>
                        </span>
                    </div>

                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
        <div class="footer">
            Ceci est le footer
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
