<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Club des critiques{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jeremy.css') }}">
        <link rel="stylesheet" href="{{ asset('css/yves.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block js %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/yahoo/xss-filters/master/dist/xss-filters.js"></script>
        <script type="text/javascript" src="{{ asset('js/menu.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
      <nav class="navbar">
            <div class="container-fluid">
                <div class="row main-nav">
                    <div class="logo col-md-2">
                        <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo-fond-noir-2.png') }}"/></a>
                    </div>

                    <div class="menu col-md-6">
                        <div class="menu-item first {% if controller is defined and controller == 'accueil' %}active{% endif %}">
                            <span>
                                <a href="{{ path('homepage') }}">Accueil</a>
                            </span>
                        </div>
                        <div class="menu-item {% if controller is defined and controller == 'contenus' %}active{% endif %}">
                            <span>
                                <a href="{{ path('contenus') }}">Contenus</a>
                            </span>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                        <div class="menu-item {% if controller is defined and controller == 'users' %}active{% endif %}">
                            <span>
                                <a class="" href="{{ path('users') }}">Utilisateurs</a>
                            </span>
                        </div>
                        {% endif %}
                        <div class="menu-item {% if controller is defined and controller == 'salons' %}active{% endif %}">
                            <span>
                                <a class="" href="{{ path('lobby_list') }}">Salons</a>
                            </span>
                        </div>
                        {{ render(controller('AppBundle:Front/Default:menu')) }}
                    </div>

                    <div class="user-actions col-md-4">
                        <div class="menu-item menu-connexion {% if  controller is defined and controller == 'profil' %}active {% endif %}">
                            {% if app.user %}
                            <span>
                                <a href="{{ path('profil') }}">
                                    Mon compte
                                </a>
                            </span>
                        </div>
                        <div class="menu-item menu-connexion">
                            <span>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    Se déconnecter
                                </a>
                            </span>
                            {% else %}
                            <span class="btn btn-primary">
                                <a href="{{ path('fos_user_security_login') }}">
                                    Connexion
                                </a>
                            </span>
                        </div>
                        <div class="menu-item menu-connexion {% if  controller is defined and controller == 'register/' %}active {% endif %}">
                            <span class="btn btn-primary">
                                <a href="{{ path('fos_user_registration_register') }}">
                                    S'inscrire
                                </a>
                            </span>
                            {% endif %}
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="menu-item menu-connexion">
                                <span>
                                    <a href="{{ path('sonata_admin_dashboard') }}">
                                        Administration
                                    </a>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                    {#{{ render(controller('AppBundle:Front/Default:menu')) }}#}
                </div>
            </div>
        </nav>
      {% if app.request.hasPreviousSession %}
          {% for type, messages in app.session.flashbag.all() %}
              {% for message in messages %}
                  <div class="" id="flashMessages">
                      <div class="">
                          <div class="alert alert-{{ type }} alert-dismissible">
                              {{ message }}
                          </div>
                      </div>
                  </div>
              {% endfor %}
          {% endfor %}
          <script>
              $('#flashMessages').delay(5000).fadeOut('slow');
          </script>
      {% endif %}

        {#{{ render(controller('AppBundle:Front/Default:menu')) }}#}
        {% block body %}{% endblock %}
        {{ render(controller('AppBundle:Front/Default:footer')) }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
