<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
        {% block js %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jeremy.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
            <div class="logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}" /></a>
            </div>
            <div class="menu">
                <div class="menu-item first {% if controller == 'accueil' %}active{% endif %}">
                <span>
                    <a href="{{ path('homepage') }}">Accueil</a>
                </span>
                </div>
                <div class="menu-item {% if controller == 'contenus' %}active{% endif %}">
                <span>
                    <a href="{{ path('contenus') }}">Contenus</a>
                </span>
                </div>
                <div class="menu-item {% if controller == 'salons' %}active{% endif %}">
                    <span>
                        <a class="" href="#">Salons</a>
                    </span>
                </div>
                <div class="menu-item menu-connexion {% if controller == 'profile'  %}active {% endif %}">
                    {% if app.user %}
                        <span>
                            <a  href="{{ path('fos_user_profile_show') }}">
                                Mon compte
                            </a>
                        </span>
                    {% else %}
                        <span>
                            <a href="{{ path('fos_user_security_login') }}">
                                Connexion
                            </a>
                        </span>
                    {% endif %}
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="menu-item menu-connexion">
                    <span>
                        <a href="{{ path('sonata_admin_dashboard') }}">
                            Administration
                        </a>
                    </span>
                </div>
                {% endif %}
            </div>

        {% block body %}{% endblock %}
        <div class="footer">
            Ceci est le footer
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
