{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/contenus.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-md-offset-3 wrap-oeuvre">
                <div class="">
                    <div class="col-md-3 cover-oeuvre">
                        <img class="img-responsive" src="{% if content.image %}{{ content.image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}">
                        <div id="liens-profil">
                            {% if app.user %}
                                {% if app.user.contentsWanted.contains(content) == true %}
                                    <a href="{{ path('user_remove_content', {'content_id': content.id, 'type': 2}) }}"><button>Je ne cherche plus ce livre</button></a>
                                {% elseif app.user.contentsToShare.contains(content) == true %}
                                    <a href="{{ path('user_remove_content', {'content_id': content.id, 'type': 1}) }}"><button>Je ne propose plus ce livre</button></a>
                                    <a href="{{ path('user_add_content', {'content_id': content.id, 'type': 3}) }}"><button>Prêter le livre</button></a>
                                {% elseif app.user.contentsShared.contains(content) == true %}
                                    <a href="{{ path('user_remove_content', {'content_id': content.id, 'type': 3}) }}"><button>Livre rendu</button></a>
                                {% elseif app.user.contentsWanted.contains(content) == false and app.user.contentsToShare.contains(content) == false and app.user.contentsShared.contains(content) == false  %}
                                    <a href="{{ path('user_add_content', {'content_id': content.id, 'type': 2}) }}"><button>Je cherche ce livre</button></a>
                                    <a href="{{ path('user_add_content', {'content_id': content.id, 'type': 1}) }}"><button>Je dispose de ce livre</button></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    {% if app.user %}
                        <div id="note-oeuvre" data-content-id="{{ content.id }}">
                            <input type="hidden" name="lobby_id" id="lobby_id" value="{{ lobby_id }}" />
                            <input type="hidden" name="from_invite" id="from_invite" value="{{ from_lobby }}" />
                            <input type="hidden" name="join" id="join" value="{{ join }}" />
                            {% if note_user[0] is defined %}
                                <div id="1" class="{% if note_user[0].note >= 1 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 1 %}note-actuelle{% endif %}"></div>
                                <div id="2" class="{% if note_user[0].note >= 2 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 2 %}note-actuelle{% endif %}"></div>
                                <div id="3" class="{% if note_user[0].note >= 3 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 3 %}note-actuelle{% endif %}"></div>
                                <div id="4" class="{% if note_user[0].note >= 4 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 4 %}note-actuelle{% endif %}"></div>
                            {% else %}
                                <div id="1" class="note-inactive"></div>
                                <div id="2" class="note-inactive"></div>
                                <div id="3" class="note-inactive"></div>
                                <div id="4" class="note-inactive"></div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="description-oeuvre">
                        <h1>{{ content.title }}</h1>
                        <a href="#"><h2>{% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}</h2></a>
                        <div class="paragraphe-description">
                            {{ content.description|trans|purify }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 wrap-mini-contents">
                <h2>Autres suggestions</h2>
                {% for i in 0..2 %}
                    {% if other_contents[i] is defined %}
                        <div class="col-md-2 suggestion mini-content-profil">
                            <a href="{{ path('contenu', {'id': other_contents[i].id}) }}"><img class="img-thumbnail" src="{% if other_contents[i].image %}{{ other_contents[i].image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}"></a>
                            <h3><a href="{{ path('contenu', {'id': other_contents[i].id}) }}">{{ other_contents[i].title }}</a></h3>
                            <a href="#"><h4>{% for key,author in other_contents[i].authors %}{{ author.name }}{% if (key+1) != other_contents[i].authors|length %},{% endif %}{% endfor %}</h4></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% if to_share_contents is not empty %}
        <div class="wrap-mini-contacts">
            <div class="row">
                <div class="col-md-12">
                    <h2>Utilisateurs proposant le livre</h2>
                </div>
            </div>
            <div class="row">
                {% for user in to_share_contents %}
                    {% if app.user and app.user.id == user.id %}
                        <div class="col-md-2 mini-contact">
                            <a href="{{ path('profil')}}"><img class="img-thumbnail" src="{{ asset('img/avatar_placeholder.png') }}"></a>
                            <h3>{{ user.username }} (Moi)</h3>
                            <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                        </div>
                    {% else %}
                        <div class="col-md-2 mini-contact">
                            <a href="{{ path('user', {'id': user.id}) }}"><img class="img-thumbnail" src="{{ asset('img/avatar_placeholder.png') }}"></a>
                            <h3>{{ user.username }}</h3>
                            <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wanted_contents is not empty %}
        <div class="wrap-mini-contacts">
            <div class="row">
                <div class="col-md-12">
                    <h2>Utilisateurs cherchant le livre</h2>
                </div>
            </div>
            <div class="row">
                {% for user in wanted_contents %}
                    {% if app.user and app.user.id == user.id %}
                        <div class="col-md-2 mini-contact">
                            <a href="{{ path('profil')}}"><img class="img-thumbnail" src="{{ asset('img/avatar_placeholder.png') }}"></a>
                            <h3>{{ user.username }} (Moi)</h3>
                            <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                        </div>
                    {% else %}
                        <div class="col-md-2 mini-contact">
                            <a href="{{ path('user', {'id': user.id}) }}"><img class="img-thumbnail" src="{{ asset('img/avatar_placeholder.png') }}"></a>
                            <h3>{{ user.username }}</h3>
                            <h4>{{ user.firstName }} {{ user.lastName }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}<script src="{{ asset('js/notes.js') }}"></script> {% endblock %}