<div class="filters">
    <div class="form-group">
        <span>Catégorie: </span>
        <select id="category" class="form-control inline" onchange="onChangeCategory(this);">
            <option value="0">------</option>
            {% for category in categories %}
                <option value="{{ category.id }}" {% if selected_category_id == category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <span>Sous catégorie: </span>
        <select id="sub-category" class="form-control inline" onchange="onChangeSubCategory(this);">
            <option value="0">------</option>
            {% for subcategory in subcategories %}
                <option value="{{ subcategory.id }}" {% if selected_sub_category_id == subcategory.id %}selected{% endif %}>{{ subcategory.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="content-list">
    {% for content in contents  %}
        <div class="col-md-4 featured-item">
            <a href="#">
                <img src="https://unsplash.it/200/300/?random">
            </a>
            <div class="book-infos">
                <span>{{ content.title }}</span>
                <span>{{ content.author.name }}</span>
            </div>
        </div>
    {% endfor %}
</div>