{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/contenus.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-md-offset-3 wrap-oeuvre">
                <div class="">
                    <div class="col-md-3 cover-oeuvre">
                        <img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}">
                        <div id="liens-profil">
                            <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="2" onclick="onAddContent(this)"><button>Ajouter à ma liste de souhait</button></a>
                            <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="1" onclick="onAddContent(this)"><button>Ajouter à ma liste d'échange</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    {% if app.user %}
                        <div id="note-oeuvre" data-content-id="{{ content.id }}">
                            <input type="hidden" name="lobby_id" id="lobby_id" value="{{ lobby_id }}" />
                            {% if note_user[0] is defined %}
                                <div id="1" class="{% if note_user[0].note >= 1 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 1 %}note-actuelle{% endif %}"></div>
                                <div id="2" class="{% if note_user[0].note >= 2 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 2 %}note-actuelle{% endif %}"></div>
                                <div id="3" class="{% if note_user[0].note >= 3 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 3 %}note-actuelle{% endif %}"></div>
                                <div id="4" class="{% if note_user[0].note >= 4 %} note-active {% else %} note-inactive {% endif %} {% if note_user[0].note == 4 %}note-actuelle{% endif %}"></div>
                            {% else %}
                                <div id="1" class="note-inactive"></div>
                                <div id="2" class="note-inactive"></div>
                                <div id="3" class="note-inactive"></div>
                                <div id="4" class="note-inactive"></div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="description-oeuvre">
                        <h1>{{ content.title }}</h1>
                        <a href="#"><h2>{{ content.author.name }}</h2></a>
                        <div class="paragraphe-description">
                            {{ content.description|trans|raw }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 wrap-mini-contents">
                <h2>Autres suggestions</h2>
                {% for i in 0..2 %}
                    {% if other_contents[i] is defined %}
                        <div class="col-md-2 suggestion mini-content">
                            <a href="{{ path('contenu', {'id': other_contents[i].id}) }}"><img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}"></a>
                            <h3><a href="{{ path('contenu', {'id': other_contents[i].id}) }}">{{ other_contents[i].title }}</a></h3>
                            <a href="#"><h4>{{ other_contents[i].author.name }}</h4></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}<script src="{{ asset('js/notes.js') }}"></script> {% endblock %}