<div class="filters">
    <div class="row">
        <div class="form-group col-md-2">
            <span class="col-md-2 col-md-offset-3"> Catégorie : </span>
            <select id="category" class="form-control inline" onchange="onFiltersChange(this);">
                <option value="0">------</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if selected_category_id == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <span class="col-md-2 col-md-offset-3">Sous catégorie : </span>
            <select id="sub-category" class="form-control inline" onchange="onFiltersChange(this);">
                <option value="0">------</option>
                {% for subcategory in subcategories %}
                    <option value="{{ subcategory.id }}" {% if selected_sub_category_id == subcategory.id %}selected{% endif %}>{{ subcategory.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <span class="col-md-offset-3">Auteur : </span>
            <select id="author" class="form-control inline" onchange="onFiltersChange(this);">
                <option value="0">------</option>
                {% for author in authors %}
                    <option value="{{ author.id }}" {% if selected_author_id == author.id %}selected{% endif %}>{{ author.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div id="content-list" class="wrap-mini-contents content-list">
        {% for content in contents  %}
            <div class="col-md-3  mini-content">
                <a href="{{ path('contenu',{'id': content.id}) }}">
                    <img class="img-responsive" src="{% if content.image %}{{ content.image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}">
                </a>
                <div class="book-infos">
                    <h3>{{ content.title }}</h3>
                    <a href="#"><h4>{% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}</h4></a>
                    {% if modeAdd is defined and modeAdd %}
                        <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="2" onclick="onAddContent(this)"><button>Ajouter à ma liste de souhait</button></a>
                        <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="1" onclick="onAddContent(this)"><button>Ajouter à ma liste d'échange</button></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button data-offset="0" onclick="loadMore(this)">Voir plus</button>
    </div>
    <div class="col-md-2 mini-content">
        <a href="#">
            <img class="img-responsive add-content" src="{{ asset('img/add_content.png') }}">
        </a>
        <div class="book-infos">
            <h3>Ajouter un livre</h3>
        </div>
    </div>
</div>