<div class="filters">
    <div class="row">
        <div class="form-group col-md-2">
            <span class="col-md-offset-5 col-md-2">Titre : </span>
            <input id="title" name="title" type="text" class="form-control inline" value="{% if title is defined %}{{ title }}{% endif %}" onkeyup="timeOutInput(this);" />
        </div>
        <div class="form-group col-md-2">
            <span class="col-md-2 col-md-offset-5"> Catégorie : </span>
            <select id="category" class="form-control inline" onchange="onFiltersChange(this);">
                <option value="0">------</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if selected_category_id == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>


        </div>
        <div class="form-group col-md-2">
            <span class="col-md-2 col-md-offset-5">Sous catégorie : </span>
            <select id="sub-category" class="form-control inline" onchange="onFiltersChange(this);">
                <option value="0">------</option>
                {% for subcategory in subcategories %}
                    <option value="{{ subcategory.id }}" {% if selected_sub_category_id == subcategory.id %}selected{% endif %}>{{ subcategory.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <span class="col-md-offset-5 col-md-2">Auteur : </span>
            <select id="author" class="form-control inline" onchange="onFiltersChange(this);">
                <option value="0">------</option>
                {% for author in authors %}
                    <option value="{{ author.id }}" {% if selected_author_id == author.id %}selected{% endif %}>{{ author.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-2">
            <span class="col-md-offset-5 col-md-2">Tri par  : </span>
            <select id="orderBy" class="form-control inline" onchange="onFiltersChange(this);">
                <option value="0" {% if selected_orderBy == 0 %}selected{% endif %}>Titres A-Z</option>
                <option value="1" {% if selected_orderBy == 1 %}selected{% endif %}>Titres Z-A</option>
                <option value="2" {% if selected_orderBy == 2 %}selected{% endif %}>Plus récents</option>
                <option value="3" {% if selected_orderBy == 3 %}selected{% endif %}>Moins récents</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <a href="{{ path('contenus_suggest') }}"><button>Suggérer un contenu</button></a>
    </div>
    <div id="content-list" class="wrap-mini-contents content-list">
        {% for content in contents  %}
            <div class="col-md-3  mini-content">
                <a href="{{ path('contenu',{'id': content.id}) }}">
                    <img class="img-thumbnail" src="{% if content.image %}{{ content.image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}">
                </a>
                <div class="book-infos">
                    <h3>{{ content.title }}</h3>
                    <a href="#"><h4>{% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}</h4></a>
                    <a href="#"><p>{{ content.publishedDate }}</p></a>
                    {% if modeAdd is defined and modeAdd %}
                        <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="2" onclick="onAddContent(this)"><button>Ajouter à ma liste de souhait</button></a><br>
                        <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="1" onclick="onAddContent(this)"><button>Ajouter à ma liste d'échange</button></a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="text-center">
        <button id="loadMore" data-offset="{{ offset }}" onclick="loadMore(this)">Voir plus</button>
    </div>

</div>
{#{% if newcontents is defined %}
<div class="navigation text-center">
    {{ knp_pagination_render(newcontents) }}
</div>
{% else %}
    <div class="navigation text-center">
        {{ knp_pagination_render(contents,{'e.name': 'Name', 'e.description': 'Description'}) }}
    </div>
{% endif %}#}
