{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/contenus.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-md-offset-3 wrap-oeuvre">
                <div class="">
                    <div class="col-md-3 cover-oeuvre">
                        <img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="description-oeuvre">
                        <h1>Titre de l'oeuvre</h1>
                        <a href="#"><h2>Auteur</h2></a>
                        <p class="paragraphe-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt mollis ipsum, a commodo enim mollis ac. Sed nec purus nec nulla rutrum auctor eu sed massa. Maecenas id metus lorem. Vivamus viverra et lorem vitae porta. Nam tempus gravida mollis. Nullam a enim nibh. Proin ullamcorper arcu feugiat nulla lacinia gravida facilisis dictum felis. Nullam sit amet nisi nec dolor malesuada mattis. Suspendisse nec magna non justo scelerisque faucibus nec at sapien. Donec tristique bibendum nulla, vitae ultrices turpis consectetur vitae. Sed dapibus in enim non eleifend. Cras scelerisque rutrum interdum. Phasellus fringilla magna nulla, vitae pharetra arcu varius vitae. Praesent id pellentesque nisi, nec volutpat mi. Integer gravida porta dui, ac ornare est fermentum tincidunt. Duis egestas nisi ac luctus pellentesque. <br><br>

                            Nullam enim augue, eleifend eget aliquam vel, varius quis nunc. Praesent ornare sagittis erat, eget cursus purus sodales vitae. Praesent quis molestie massa, sit amet convallis ligula. Etiam blandit, leo in mattis facilisis, nisl nisi pretium ligula, at finibus quam dolor id ex. Sed ac volutpat tortor. Aenean vitae libero tortor. Sed sed vestibulum magna, quis cursus lorem. Pellentesque sem eros, molestie quis pulvinar in, auctor in augue. Nullam ac orci interdum, viverra neque id, tempor lectus. Vivamus libero erat, volutpat at luctus ut, convallis sit amet ligula. Aliquam rutrum, magna tempus placerat rutrum, orci dolor consequat sem, nec aliquam odio magna sed massa. Nulla nec ex mi. Nulla aliquet neque augue, interdum dignissim eros pharetra sed. Praesent egestas commodo velit, non laoreet mi pellentesque blandit. Morbi at diam nibh. Maecenas pretium nisl a eros porta, quis tincidunt purus rutrum.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 wrap-mini-contents">
                <h2>Autres suggestions</h2>
                <div class="col-md-2 suggestion mini-content">
                    <a href="#"><img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}"></a>
                    <h3>Titre</h3>
                    <a href="#"><h4>Auteur</h4></a>
                </div>
                <div class="col-md-2 col-md-offset-1 suggestion mini-content">
                    <a href="#"><img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}"></a>
                    <h3>Titre</h3>
                    <a href="#"><h4>Auteur</h4></a>
                </div>
                <div class="col-md-2 col-md-offset-1 suggestion mini-content">
                    <a href="#"><img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}"></a>
                    <h3>Titre</h3>
                    <a href="#"><h4>Auteur</h4></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}