{% for content in contents  %}
    <div class="col-md-3  mini-content">
        <a href="{{ path('contenu',{'id': content.id}) }}">
            <img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}">
        </a>
        <div class="book-infos">
            <h3>{{ content.title }}</h3>
            <a href="#"><h4>{% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}</h4></a>
            {% if modeAdd is defined and modeAdd %}
                <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="2" onclick="onAddContent(this)"><button>Ajouter à ma liste de souhait</button></a>
                <a href="javascript:void(0);" data-content-id="{{ content.id }}" data-type="1" onclick="onAddContent(this)"><button>Ajouter à ma liste d'échange</button></a>
            {% endif %}
        </div>
    </div>
{% endfor %}