{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/contenus.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-md-offset-2 wrap-profil">
                <div class="col-md-3 photo-profil">
                    <img class="img-responsive" src="{{ asset('img/avatar_placeholder.png') }}">
                    <div id="liens-profil">
                        {% if connected_user.contacts.contains(user) %}
                            <a href="{{ path('user_remove', {'id': user.id}) }}"><button>Supprimer de mes contacts</button></a>
                        {% else %}
                            <a href="{{ path('user_add', {'id': user.id}) }}"><button>Ajouter aux contacts</button></a>
                        {% endif %}
                    </div>
                </div>


                <div class="col-md-6 ">
                    <div class="description-profil">
                        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
                        <h2>{{ user.username }}</h2>
                        <div class="paragraphe-description">
                            {{ user.description|nl2br }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% if user.getContentsWanted().count > 0 %}
            <div class="wrap-mini-contents">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Ce que {{ user.username }} cherche</h2>
                    </div>
                </div>
                <div class="row">
                {% for content in user.getContentsWanted() %}
                    <div class="col-md-2 col-lg-2 mini-content-profil echange">
                        {#<a href="mailto:{{ user.email }}?subject=Demande d'échange&body=Bonjour, %0D %0D Je possède : {{ content.title }} - {% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}. %0D Pouvez vous me recontacter afin que l'on puisse organiser un échange ? %0D %0D Cordialement, %0D {{ connected_user.firstName|capitalize }} {{ connected_user.lastName|upper }}"><img class="img-thumbnail" src="{% if content.image %}{{ content.image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}"></a>#}
                        <a href="javascript:void(0);" data-user-prenom="{{ app.user.firstName }}" data-user-nom="{{ app.user.lastName }}" data-content-title="{{ content.title }}" data-content-authors="{% for key,author in content.authors %}{{ author.name }}{% if (key+2) == content.authors|length %} et {% elseif (key+1) != content.authors|length %}, {% endif %}{% endfor %}" onclick="wantedMail(this)"><img class="img-thumbnail" src="{% if content.image %}{{ content.image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}"></a>
                        <a href="{{ path('contenu', {'id': content.id}) }}"><h3>{{ content.title }}</h3></a>
                        <h4>{% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}</h4>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if user.getContentsToShare().count > 0 %}
            <div class="wrap-mini-contents">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Ce que {{ user.username }} propose</h2>
                    </div>
                </div>
                <div class="row">
                    {% for content in user.getContentsToShare() %}
                        <div class="col-md-2 col-lg-2 mini-content-profil echange">
                            {#<a href="mailto:{{ user.email }}?subject=Demande d'échange&body=Bonjour, %0D %0D Je souhaite vous emprunter : {{ content.title }} - {% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}. %0D Pouvez vous me recontacter afin que l'on puisse s'organiser ? %0D %0D Cordialement, %0D {{ connected_user.firstName|capitalize }} {{ connected_user.lastName|upper }}"><img class="img-thumbnail" src="{% if content.image %}{{ content.image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}"></a>#}
                            <a href="javascript:void(0);" data-user-prenom="{{ app.user.firstName }}" data-user-nom="{{ app.user.lastName }}" data-content-title="{{ content.title }}" data-content-authors="{% for key,author in content.authors %}{{ author.name }}{% if (key+2) == content.authors|length %} et {% elseif (key+1) != content.authors|length %}, {% endif %}{% endfor %}" onclick="toShareMail(this)"><img class="img-thumbnail" src="{% if content.image %}{{ content.image }}{% else %}{{ asset('img/image_missing.jpeg') }}{% endif %}"></a>
                            <a href="{{ path('contenu', {'id': content.id}) }}"><h3>{{ content.title }}</h3></a>
                            <a href="#"><h4>{% for key,author in content.authors %}{{ author.name }}{% if (key+1) != content.authors|length %},{% endif %}{% endfor %}</h4></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <h2 class="col-md-offset-3"> Contactez {{ user.lastName }} {{ user.firstName }}</h2>
        </div>
        <div class="wrap-form" id="contact-form">
            {{ form_start(form) }}

            <div class="row">
                <label class="col-md-offset-4 col-md-1">Nom : </label>
                {{ form_widget(form.name, {value: app.user.username}) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="row">
                <label class="col-md-offset-4 col-md-1">Email : </label>
                {{ form_widget(form.email, {value: app.user.email}) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="row">
                <label class="col-md-offset-4 col-md-1">Sujet : </label>
                {{ form_widget(form.subject) }}
                {{ form_errors(form.subject) }}
            </div>
            <div class="row">
                <label class="col-md-offset-4 col-md-1">Message : </label>
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>
            <div style="display:none">
                {{ form_rest(form) }}
            </div>
            <div class="row">
                <button type="submit" class="col-md-offset-5">Envoyer</button>
            </div>


            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}