{% extends 'base.html.twig' %}
{% block js %}
    <script src="{{ asset('js/contenus.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-md-offset-2 wrap-profil">
                <div class="col-md-3 photo-profil">
                    <img class="img-responsive" src="{{ asset('img/avatar_placeholder.png') }}">
                    <div id="liens-profil">
                        <a href="{{ path('user_add', {'id': user.id}) }}"><button>Ajouter aux contacts</button></a>
                    </div>
                </div>


                <div class="col-md-6 ">
                    <div class="description-profil">
                        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
                        <h2>{{ user.username }}</h2>
                        <div class="paragraphe-description">
                            {{ user.description }}
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="wrap-mini-contacts">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contacts de {{ user.username }}</h2>
                </div>
            </div>
            {% if user.getContacts().count > 0 %}
                <div class="row">
                    {% for contact in user.getContacts() %}
                        <div class="col-md-2 mini-contact">
                            <a href="{{ path('user', {'id': contact.id}) }}"><img class="img-responsive" src="{{ asset('img/avatar_placeholder.png') }}"></a>
                            <h3>{{ contact.username }}</h3>
                            <h4>{{ contact.firstName }} {{ contact.lastName }}</h4>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    <p>Aucun contacts</p>
                </div>
            {% endif %}
        </div>

        {% if user.getContentsWanted().count > 0 %}
            <div class="wrap-mini-contents">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Ce que {{ user.username }} cherche</h2>
                    </div>
                </div>
                <div class="row">
                {% for content in user.getContentsWanted() %}
                    <div class="col-md-2 mini-content echange">
                        <a href="mailto:{{ user.email }}?subject=Demande d'échange&body=Bonjour, %0D %0D Je possède : {{ content.title }} - {{ content.author.name }}. %0D Pouvez vous me recontacter afin que l'on puisse organiser un échange ? %0D %0D Cordialement, %0D {{ connected_user.firstName|capitalize }} {{ connected_user.lastName|upper }}"><img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}"></a>
                        <h3>{{ content.title }}</h3>
                        <a href="#"><h4>{{ content.author.name }}</h4></a>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if user.getContentsToShare().count > 0 %}
            <div class="wrap-mini-contents">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Ce que {{ user.username }} propose</h2>
                    </div>
                </div>
                <div class="row">
                    {% for content in user.getContentsToShare() %}
                        <div class="col-md-2 mini-content echange">
                            <a href="mailto:{{ user.email }}?subject=Demande d'échange&body=Bonjour, %0D %0D Je souhaite vous emprunter : {{ content.title }} - {{ content.author.name }}. %0D Pouvez vous me recontacter afin que l'on puisse s'organiser ? %0D %0D Cordialement, %0D {{ connected_user.firstName|capitalize }} {{ connected_user.lastName|upper }}"><img class="img-responsive" src="{{ asset('img/cover_placeholder.jpg') }}"></a>
                            <a href="{{ path('contenu', {'id': content.id}) }}"><h3>{{ content.title }}</h3></a>
                            <a href="#"><h4>{{ content.author.name }}</h4></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <h2 class="col-md-offset-3"> Contactez {{ user.lastName }} {{ user.firstName }}</h2>
        </div>
        <div class="wrap-form">
            {{ form_start(form) }}

            <div class="row">
                <label class="col-md-offset-4 col-md-1">Nom : </label>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="row">
                <label class="col-md-offset-4 col-md-1">Email : </label>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div class="row">
                <label class="col-md-offset-4 col-md-1">Sujet : </label>
                {{ form_widget(form.subject) }}
                {{ form_errors(form.subject) }}
            </div>
            <div class="row">
                <label class="col-md-offset-4 col-md-1">Message : </label>
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
            </div>
            <div style="display:none">
                {{ form_rest(form) }}
            </div>
            <div class="row">
                <input type="submit" value="Envoyer" class="col-md-offset-5">
            </div>


            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}